<!-- Footer strat -->
<footer class="footer">
    <div class="foo-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="widget border1 foo-text">
                        <a href="#" class="foo-logo">
                            <img src="{{ 'assets/images/foo-logo.png' | theme }}" alt="">
                        </a>
                        <address>
                            <h5>Corporate Office Sawtel</h5>
                            B6/2/8 Musuli Lane
                            North Industrial Area,
                            Accra-North, Ghana
                        </address>
                    </div>
                    <!-- <div class="border1"></div> -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="widget foo-address">
                        <h5>Contacts</h5>
                        <address>
                            <a href="malto:ervice@email.com">ervice@email.com</a>
                            <a href="tel:+12345678921">+123 4567 8921</a>
                        </address>
                        <address>
                            Rokaz, Chok Bazar
                            123 Newyork City
                            United State
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foo-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="foo-navigation">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Partnerships</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="copyright">Copyright &copy; <a href="#">Sawtel</a> - 2010. All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->