$default: 'Rubik', sans-serif;

$light: 300;
$regular: 400;
$mid: 500;
$semi: 600;
$bold: 700;

$white: #fff;
$black: #000;
$pink: #FB2E86;
$purple: #0B0B61;
$darkblue: #0C0D3E;
$blue: #23A0FF;

$transition: all 300ms ease-in-out;


